{% extends 'includes/base.html' %}
{% load static %}
{% load mathfilters %}
{% block Title %}
    <title>Sepetim</title>
{% endblock Title %}

{% block CSS %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/productsCSS.css' %}">
{% endblock CSS %}

{% block BODY %}
    {% include 'includes/navbar.html' %}

    <div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'products' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Alışverişe Devam Et</a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Ürünler: <strong>
                            {{ products |length }}
                        </strong></h5></th>
                        <th><h5>Toplam: <strong>₺ {{ total }}</strong></h5></th>
                        <th>{% if products %}
                            <a style="float: right;margin:5px" class="btn btn-success" href="{% url 'checkout' %}"><i class="fa fa-credit-card" aria-hidden="true"></i> Ödeme Yap</a>
                            {% endif %}
                        </th>
                    </tr>
                </table>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Ürün</strong></div>
                    <div style="flex: 1"><strong>Fiyat</strong></div>
                    <div style="flex: 1"><strong>Adet</strong></div>
                    <div style="flex: 1"><strong>Toplam</strong></div>
                </div>
                {% if products %}
                <!-- Ürün Başlangıcı-->
                {% for product_ in products %}
                    <div class="cart-row">
                        <div style="flex: 2"><img class="cart-product-image" style="padding:10px" src="{{ product_.product.productImage.url }}" alt=""></div>
                        <div style="flex: 2">{{ product_.product.productTitle }}</div>
                        <div style="flex: 1">₺ {{ product_.product.productPrice }}</div>
                        <div style="flex: 1;">
                            <p class="quantity">{{ product_.amount }} Adet</p>
                            <div class="">
                                <button class="btn btn-success update-cart-amount" data-product="{{ product_.product.id }}" data-action="add" ><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <button class="btn btn-danger update-cart-amount" data-product="{{ product_.product.id }}" data-action="remove"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div style="flex: 1"><strong><h3>
                            {% with amount=product_.amount price=product_.product.productPrice %}
                            {{ amount|mul:price }} {# ÜRÜNLERİN ADETLERİNE GÖRE FİYATLARI #}
                            {% endwith %}
                        </h3></strong></div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="bg bg-danger text-center p-3 mb-2" style="border-radius: 20px">
                    <h3 class="text-dark">Sepetinizde Hiç Ürün Yok.</h3>
                        <a href="{% url 'products' %}" class="btn btn-primary" style="border-radius: 10px"><i class="fa fa-arrow-left" aria-hidden="true"></i> Alışverişe Devam Et</a>
                    </div>
                 {% endif %}
               <!-- Ürün Bitişi-->



            </div>
        </div>
    </div>
    {% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded" style="position:fixed;top: 0px;left: 0px;width: %100;z-index: 9999;border-radius: 0px" {% endif %}><i class="fa fa-cart-plus" aria-hidden="true"></i> {{ message }}</div>
{% endfor %}
{% endif %}

{% endblock BODY %}
