{% extends 'includes/base.html' %}
{% load static %}
{% block Title %}
<title>Ana Sayfa</title>
{% endblock Title %}
{% block CSS %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/productsCSS.css' %}">
{% endblock CSS %}
{% block BODY %}
{% include 'includes/navbar.html' %}
{% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded"{% endif %}><i
   class="fa fa-check" aria-hidden="true"></i> {{ message }}</div>
{% endfor %}
{% endif %}
<div class="container" style="padding-top: 20px;">
   <div class="row">
      <div class="col-lg-6">
         <div class="box-element" id="form-wrapper">
            <form method="post" action="{% url 'checkout' %}">
               {{ form }}
                {% csrf_token %}
                <br>

               <div id="shipping-info"><button type="submit" class="btn btn-primary btn-block">
<a class="" style="color: white"><i class="fa fa-map-marker"
                     aria-hidden="true"></i> Yeni
                  Adres Ekle</a></button></form>
                  <hr>

                  <p>&nbsp; Adres:</p>
                  <div class="">
                     <select style="cursor: pointer" class="custom-select" id="inputGroupSelect01">
                        <option style="cursor: pointer" selected>Adres Seçimi</option>
                         {% for Address in customerAddress %}
                                <option style="cursor: pointer" value="{{ Address.id }}">{{ Address.addressTitle }}</option>
                         {% endfor %}
                     </select>
                  </div>

               </div>
               <br>
               <button class="btn btn-success btn-block"><i class="fa fa-arrow-circle-right"
                  aria-hidden="true"></i> Ödemeye Geç
               </button>

         </div>
         <br>
      </div>
      <div class="col-lg-6" style="padding-bottom: 30px">
         <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}"><i class="fa fa-arrow-left"
               aria-hidden="true"></i> Sepete
            Geri Dön</a>
            <hr>
            <h3>Sipariş Özeti</h3>
            <hr>
            {% for product_ in products %}
            <div class="cart-row">
               <div style="flex:2"><img class="row-image cart-product-image"
                  style="padding:10px;cursor: pointer"
                  src="{{ product_.product.productImage.url }}"></div>
               <div style="flex:2">
                  <p>{{ product_.product.productTitle }}</p>
               </div>
               <div style="flex:1">
                  <p>{{ product_.product.productPrice }}</p>
               </div>
               <div style="flex:1">
                  <p>x{{ product_.amount }}</p>
               </div>
            </div>
            {% endfor %}
            <h5>Ürünler: 2</h5>
            <h5>
               Toplam Fiyat:
               <strong>
                  <h4 style="display: inline;">₺ {{ total }}</h4>
               </strong>
            </h5>
         </div>
      </div>
   </div>
</div>
{% endblock BODY %}