{% extends 'includes/base.html' %}

{% block Title %}
<title>Giriş Yap</title>
{% endblock Title %}
{% block CSS %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock CSS%}
{% block BODY %}
    {% include 'includes/navbar.html' %}



<section class="vh-100 bg-image" style="background-image: url('https://images6.alphacoders.com/100/1009152.jpg');">
   <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          {% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded"{% endif %}><i class="fas fa-exclamation-triangle"></i> {{ message }}</div>
       {% endfor %}
{% endif %}
         <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
               <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">
                     <h2 class="fw-bold mb-2 text-uppercase">Giriş Yap</h2>
                     <p class="text-white-50 mb-5">İşlem yapabilmek için lütfen giriş yapınız.</p>
                     <form method="post">
                       {% csrf_token %}
                        <div class="form-outline form-white mb-4">
                           <input type="text" id="id_username" name="username" class="form-control form-control-lg" />
                           <label class="form-label">Kullanıcı Adı</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                           <input type="password" id="id_password" name="password" class="form-control form-control-lg" />
                           <label class="form-label">Parola</label>
                        </div>
                        <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="">Şifreni mi unuttun?</a></p>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit"><i class="fas fa-sign-in-alt"></i> Giriş Yap</button>
                  </div>
                  </form>
                  <div>
                     <p class="mb-0">Hesabın Yok mu? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Kayıt Ol</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>









{% endblock BODY %}
